 <header>

	<div class="navbar container">
	   	<div class="brand">
	      <a href="{{ site.baseurl }}/"><h2><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;&nbsp;Civictionnary</h2></a>
        <small><p>Petit précis de langage à l'usage des néophytes de la Civic Tech</p></small>
	    </div>
	    <div class="social-area nav-icons hidden-xs">
        <a href="https://github.com/virgile-dev/glossaire-civic-tech" target="_blank">

			 {% include github-outline.html %}

    		</a>
		</div>
	</div>


</header>
