
    <div class="well_list">

      <div class="well_list-nav">

          {% include projet-modal.html %}
           <li><h4><a href="{{ site.baseurl }}">Définitions</a></h4></li>
           {% for post in site.posts %}
            <li><a href="{{ site.baseurl }}{{  post.url  }}">{{ post.title }}</a></li>
           {% endfor %}
          <!-- {% capture posts %}
          {% for post in site.posts %}
            |{{ post.title }}#{{ post.url }}
          {% endfor %}
        {% endcapture %}
        {% assign sortedposts = posts | split: '|' | sort %}
        {% for post in sortedposts %}
            {% assign postitems = post | split: '#' %}
            <li><a href="{{  postitems[1]  }}">{{  postitems[0]  }}</a></li>
        {% endfor %} -->

      </ul>

    </div>
    </div>

  </div>

  </div>
