---

layout: default
form: "true"
---
<div class="container">
  
      <div class="row">
        <div class="col-md-9">
            <hr>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h1 style="color:#fff;font-size:1.8em;"><a href="{{ post.url }}" style="color:#fff;">{{ page.title }}</a></h1>
              </div>
              <div class="panel-body">
                {{ page.content }}
              </div>
            </div>

            <div class="well">
              <h3>Sources</h3>
              {% if page.source1 %}
                <a href="{{ page.source-url1 }}" target="_blank"><i class="fa fa-file-o" aria-hidden="true"></i> {{ page.source1 }}
                </a>
                <p>{{ page.sourcedetails1 }}</p>
              {% endif %}
              {% if page.source2 %}
                <a href="{{ page.source-url2 }}" target="_blank"><i class="fa fa-file-o" aria-hidden="true"></i> {{ page.source2 }}
                </a>
                <p>{{ page.sourcedetails2 }}</p>
              {% endif %}
              {% if page.source3 %}
                <a href="{{ page.source-url3 }}" target="_blank"><i class="fa fa-file-o" aria-hidden="true"></i> {{ page.source3 }}
                </a>
                <p>{{ page.sourcedetails3 }}</p>
              {% endif %}
              {% if page.source4 %}
                <a href="{{ page.source-url4 }}" target="_blank"><i class="fa fa-file-o" aria-hidden="true"></i> {{ page.source4 }}
                </a>
                <p>{{ page.sourcedetails4 }}</p>
              {% endif %}
              {% if page.source5 %}
                <a href="{{ page.source-url5 }}" target="_blank"><i class="fa fa-file-o" aria-hidden="true"></i> {{ page.source5 }}
                </a>
                <p>{{ page.sourcedetails5 }}</p>
              {% endif %}
              {% if page.source6 %}
                <a href="{{ page.source-url6 }}" target="_blank"><i class="fa fa-file-o" aria-hidden="true"></i> {{ page.source6 }}
                </a>
                <p>{{ page.sourcedetails6 }}</p>
              {% endif %}
            </div>
            </div>

          <div class="col-md-3 col-sm-12 col-sm-12">


    <div class="well_list">

      <div class="well_list-nav">

<p>

</p>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Proposer une définition</h4>
      </div>
      <div class="modal-body">
       {% include form.html %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>

  </div>


           <li><h4><a href="{{ site.baseurl }}">Définitions</a></h4></li>
           {% for post in site.posts %}
            <li><a href="{{ site.baseurl }}{{  post.url  }}">{{ post.title }}</a></li>
           {% endfor %}
          <!-- {% capture posts %}
          {% for post in site.posts %}
            |{{ post.title }}#{{ post.url }}
          {% endfor %}
        {% endcapture %}
        {% assign sortedposts = posts | split: '|' | sort %}
        {% for post in sortedposts %}
            {% assign postitems = post | split: '#' %}
            <li><a href="{{  postitems[1]  }}">{{  postitems[0]  }}</a></li>
        {% endfor %} -->

      </ul>

    </div>
    </div>

  </div>

  </div>


          </div>
        </div>

  </div>
		</div>

		<br>
		<br>
		<br>

		{% if page.comments %}

	<div class="container">

		<div class="row">

		<div class="col-md-9">

		<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//opendemocracynow.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
</div>
</div>

		{% endif %}
